body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width:100%;
    height:100vh;
}

/* dayPicker================================================================ */

/* .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */
/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */
.dropdown {
  position: relative;
  display: inline-block;
}
.odp-content {
  background-color: white;
  display: none;
  position: absolute;
  padding: 5px 5px;
  border-radius: 0.375rem;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(200deg, #78909c , #455a64); */
}
.odp_day {
    margin: 1px 1px;
    height: 23px;
    width: 46px;
    border-radius: 0.375rem;
    border: 1px solid #546e7a   ;
    background-color: #546e7a   ;
    color: white;
    text-align: center;
}
.odp_day:hover{
    cursor: pointer;
    border: 1px solid #37474f   ;
    background-color: #37474f   ;
}
.odp-content-cont {
  /* width: 15rem; */
  display: flex;
    flex-direction: column;
  padding: 0.2rem;
  background-color: white;
  margin: 0rem 1rem;
  justify-content: center;
}
.odp-selected-cont {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.5rem;
  background: white;
  /* border-radius: 12px;
  background: linear-gradient(255deg, #cacaca, #f0f0f0);
  box-shadow: -42px 30px 59px #bebebe, 30px -30px 59px #fff; */
  align-items: center;
  width: 120px;
}
.titleSpan{
  border-bottom: 3px solid white;
  font-weight: bold;
  letter-spacing: 1px;
}
.divider {
  border: 10px solid;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(180deg, #78909c  , #455a64 );
}
.odp-time-cont {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  background: white;
  /* border-radius: 12px;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -42px 30px 59px #bebebe, 30px -30px 59px #fff; */
  align-items: center;
}
.daySpan:hover{
  cursor: pointer;
}
.selectedDaySpan{
  background: #4fc3f7 ;
  padding: 0rem 0.5rem;
  border-radius: 0.356rem;
  margin: 0.1rem 0rem;
}
.setTimeInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin: 0rem .5rem;
}

.show {display: block;}

/*  day picker btn------------------------------------------------ */
.dropbtn {
  margin: 1rem;
  border-radius: 0.356rem;
  border: none;
  color: white;
  background: #78909c ;
}


.updateTimeBTN {
  --color: #78909c ;
  /* font-family: inherit; */
  /* display: inline-block; */
  /* width: 6em; */
  /* height: 2.6em; */
  /* line-height: 2.5em; */
  overflow: hidden;
  margin: 1rem;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.updateTimeBTN::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 200px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.updateTimeBTN:hover {
  color: white;
}

.updateTimeBTN:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.updateTimeBTN:hover::before {
  top: -30px;
  left: -30px;
}